<div class="car-body">
  <div class="container mt-2 text-end">
    <button
      type="button"
      class="btn btn-outline-dark btn-sm"
      [routerLink]="[0, 'incluir']"
    >Produto +</button>
  </div>
  <table class="table table-striped mt-3">
    <thead>
      <tr class="bg-dark text-light">
        <th>Produto</th>
        <th class="text-end">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td>
          <strong>{{ item.descricao }}</strong><br>
          <small>Valor: {{ item.preco | currency:'BRL' }}</small>
        </td>
        <td class="text-end">
          <button
            type="button"
            class="btn btn-outline-success btn-sm m-1"
            [routerLink]="[item.id, 'alterar']"
          >Editar</button>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            [routerLink]="[item.id, 'excluir']"      
          >Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

