<div class="card-header bg-dark">
  <div class="container text-light text-center" routerLink="/" role="button">
    HOME
  </div>
  <div class="container p-3 d-flex justify-content-center">
    <button 
      type="button"
      class="btn btn-outline-light btn-lg mx-3"
      routerLink="/empresas"
    >Empresas</button>
    <button 
      type="button"
      class="btn btn-outline-light btn-lg mx-3"
      routerLink="/produtos"
    >Produtos</button>
    <button 
      type="button"
      class="btn btn-outline-light btn-lg mx-3"
      routerLink="/compras"
    >Compras</button>
  </div>
</div>
